# Emacs related
*~
\#*\#
.\#*

# Python related
*.pyc
*.so
__pycache__/

# Stretch related
stretch_description.srdf
stretch_description.xacro
stretch.urdf
stretch_uncalibrated.urdf
controller_calibration_head.yaml
controller_calibration_tool.yaml
stretch_description/meshes/*
stretch_description/urdf/*
stretch_description/urdf/exported_urdf
stretch_description/urdf/exported_urdf/*
stretch_description/urdf/exported_urdf_previous
stretch_description/urdf/exported_urdf_previous/*
stretch_funmap/stretch_funmap/cython_min_cost_path.c
stretch_navigation/map/

# Vim files
*.swp
*.swn
*.swo

# Colcon generated folders and files that we shouldn't check in
build/
install/
log/

# VSCode
.vscode/