<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_description">

  <gazebo>

    <!-- Odometry Publisher -->
    <plugin filename="ignition-gazebo-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
      <odom_publish_frequency>50</odom_publish_frequency>
      <odom_topic>/odom</odom_topic>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <dimensions>3</dimensions>
    </plugin>

    <!-- Joint States -->
    <plugin filename="libignition-gazebo-joint-state-publisher-system.so" name="ignition::gazebo::systems::JointStatePublisher"/>

    <!-- Diff Drive -->
    <plugin filename="libignition-gazebo-diff-drive-system.so" name="ignition::gazebo::systems::DiffDrive">
      <left_joint>joint_left_wheel</left_joint>
      <right_joint>joint_right_wheel</right_joint>
      <wheel_separation>0.315</wheel_separation>
      <wheel_radius>0.05</wheel_radius>
      <odom_publish_frequency>10</odom_publish_frequency>
      <topic>cmd_vel</topic>
      <frame_id>diff_odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
    </plugin>

    <!-- Joint Trajectories -->
    <plugin filename="libignition-gazebo-joint-trajectory-controller-system.so" name="ignition::gazebo::systems::JointTrajectoryController">
      
      <topic>joint_trajectory</topic>

      <joint_name>joint_arm_l0</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_arm_l1</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_arm_l2</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_arm_l3</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_lift</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_wrist_yaw</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_gripper_finger_left</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_gripper_finger_right</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>joint_head_pan</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>300</position_p_gain>
      <position_d_gain>2.9</position_d_gain>
      <position_i_gain>10</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-50</position_cmd_min>
      <position_cmd_max>50</position_cmd_max>

      <joint_name>joint_head_tilt</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>300</position_p_gain>
      <position_d_gain>2.9</position_d_gain>
      <position_i_gain>10</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-50</position_cmd_min>
      <position_cmd_max>50</position_cmd_max>

    </plugin>

  </gazebo>

  <!-- LIDAR -->
  <gazebo reference="joint_laser">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="laser">
    <sensor name='gpu_lidar' type='gpu_lidar'>
      <topic>scan</topic>
      <update_rate>5.5</update_rate>
      <!-- TODO: Add noise -->
      <lidar>
        <scan>
          <horizontal>
            <samples>2000</samples>
            <resolution>1</resolution>
            <min_angle>-3.141592</min_angle>
            <max_angle>3.141592</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0</min_angle>
            <max_angle>0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.08</min>
          <max>12.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise type="gaussian">
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </lidar>
      <alwaysOn>1</alwaysOn>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

  <gazebo reference="base_link">
    <!-- Base IMU (Accel + Gyro) -->
    <sensor name="imu" type="imu">
      <always_on>1</always_on>
      <update_rate>25</update_rate>
      <visualize>false</visualize>
      <topic>imu</topic>
      <imu>
        <!-- 0.0625/2000 -->
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00003125</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00003125</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00003125</stddev>
            </noise>
          </z>
        </angular_velocity>
        <!-- 20/2000 noise -->
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
    <!-- Base Mag -->
    <!-- 10/1200 noise -->
    <sensor name="magnetometer" type="magnetometer">
      <always_on>1</always_on>
      <update_rate>25</update_rate>
      <visualize>false</visualize>
      <topic>magnetometer</topic>
      <magnetometer>
        <x>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>0.0083</stddev>
          </noise>
        </x>
        <y>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>0.0083</stddev>
          </noise>
        </y>
        <z>
          <noise type="gaussian">
            <mean>0.0</mean>
            <stddev>0.0083</stddev>
          </noise>
        </z>
      </magnetometer>
    </sensor>
  </gazebo>

  <!-- TODO: Make this accelerometer only -->
  <!-- Wrist IMU (Accel Only) -->
  <gazebo reference="link_wrist_yaw">
    <sensor name="wrist_imu" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>false</visualize>
      <topic>wrist_imu</topic>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </z>
        </angular_velocity>
        <!-- 1.1/2000 Noise -->
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00055</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00055</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.00055</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <!-- Realsense IMU -->
  <xacro:if value="$(arg realsense)">
  <gazebo reference="camera_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="camera_link_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="camera_gyro_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="camera_gyro_frame">
    <!-- Arbitrary noise -->
    <sensor name="realsense_imu" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <visualize>false</visualize>
      <topic>realsense_imu</topic>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <!-- Realsense Depth Camera -->
  <gazebo reference="camera_depth_optical_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="camera_depth_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo reference="camera_depth_optical_frame">
    <sensor name="realsense_d435" type="rgbd_camera">
      <update_rate>30</update_rate>
      <camera name="camera">
        <horizontal_fov>1.13446</horizontal_fov>
        <lens>
          <intrinsics>
            <fx>554.25469</fx>
            <fy>554.25469</fy>
            <cx>320.5</cx>
            <cy>240.5</cy>
            <s>0</s>
          </intrinsics>
        </lens>
        <distortion>
          <k1>0.0</k1>
          <k2>0.0</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
          <center>0.5 0.5</center>
        </distortion>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>300</far>
        </clip>
        <depth_camera>
          <clip>
            <near>0.1</near>
            <far>10</far>
          </clip>
        </depth_camera>
        <noise>
          <type>gaussian</type>
          <mean>0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
    </sensor>
  </gazebo>

    <!-- Realsense Color -->
    <xacro:if value="$(arg realsense_extra_topics)">
      <gazebo reference="camera_color_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
      </gazebo>
    
      <gazebo reference="camera_color_optical_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
      </gazebo>
    
      <gazebo reference="camera_color_optical_frame">
        <sensor name="realsense_d435_color" type="camera">
          <update_rate>30</update_rate>
          <camera name="camera">
            <horizontal_fov>1.13446</horizontal_fov>
            <lens>
              <intrinsics>
                <fx>554.25469</fx>
                <fy>554.25469</fy>
                <cx>320.5</cx>
                <cy>240.5</cy>
                <s>0</s>
              </intrinsics>
            </lens>
            <distortion>
              <k1>0.0</k1>
              <k2>0.0</k2>
              <k3>0.0</k3>
              <p1>0.0</p1>
              <p2>0.0</p2>
              <center>0.5 0.5</center>
            </distortion>
            <image>
              <width>1920</width>
              <height>1080</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.01</near>
              <far>300</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
        </sensor>
      </gazebo>
    
    <!-- Realsense IR Camera 1 -->
    <gazebo reference="camera_infra1_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="camera_infra1_optical_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="camera_infra1_optical_frame">
      <sensor name="realsense_d435_ir" type="camera">
        <update_rate>30</update_rate>
        <camera name="camera">
          <horizontal_fov>1.13446</horizontal_fov>
          <lens>
            <intrinsics>
              <fx>554.25469</fx>
              <fy>554.25469</fy>
              <cx>320.5</cx>
              <cy>240.5</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <image>
            <width>1920</width>
            <height>1080</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

    <!-- Realsense IR Camera 2 -->
    <gazebo reference="camera_infra2_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="camera_infra2_optical_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="camera_infra2_optical_frame">
      <sensor name="realsense_d435_ir2" type="camera">
        <update_rate>30</update_rate>
        <camera name="camera">
          <horizontal_fov>1.13446</horizontal_fov>
          <lens>
            <intrinsics>
              <fx>554.25469</fx>
              <fy>554.25469</fy>
              <cx>320.5</cx>
              <cy>240.5</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <image>
            <width>1920</width>
            <height>1080</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>
  </xacro:if>

</xacro:if>

</robot>
